<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M M M Bank || Home</title>
    <link rel="stylesheet" href="./stylesheet/default3.css">
</head>
<body>
    <main class="h-1-1 w-1-1 d-flex pd-0">
        <div class="h-1-1 w-1-2 i-add pd-2 d-flex j-s-center a-i-end">
            <button class="h-5 w-20v b-none b-md bg-green-700 fs-3 bold-2-f mb-10" id="login-fast">login fast</button>
        </div>
        <div class="h-1-1 w-1-2 i2-add d-flex a-i-start j-s-center">
            <button class="h-5 w-20v b-none b-md bg-green-700 fs-3 bold-2-f mt-10" id="login-fast2">login fast</button>
            <img src="./images/logo.png" alt="" class="h-10">
        </div>

    </main>
    <script src="./javascript/home.js"></script>
</body>
</html>