<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/MMM Bank.png">
    <link rel="stylesheet" href="./stylesheet/default.css">
    <link rel="stylesheet" href="./stylesheet/stylle.css">
    <title>M M M Bank || save your taka</title>
</head>
<body>
    <main class="h-1-1 w-1-1 bold-2-f">
        <!-- nav start -->
        <div class="w-1-1 h-10 bg-black-500 d-flex j-s-between">
            <div class="img">
                <img src="./images/logo.png" alt="" class="h-10 w-20v">
            </div>
            <nav>
                <ul class="d-flex gap-10 mt-3 mr-5">
                    <li class="l-s-none"><button class="c-white fs-3 bg-black-700 pd-1 b-md b-none" id="add-taka-bt">add taka</button></li>
                    <li class="l-s-none"><a href="" class="atag c-white fs-3">৳ 100.0</a></li>
                    <li class="l-s-none"><a href="" class="atag c-white fs-3">marufmursalin28@gmail.com</a></li>
                </ul>
            </nav>
        </div>
        <!-- nav end -->


        <!-- side nav -->
        <div class="main-page h-90 w-1-1 d-flex">
                <div class="s-n w-40 h-1-1 bg-black-500">
                    <ul class="ml-2 mt-5">
                        <li class="l-s-none mt-3"><a href="" class="atag c-white fs-3">Home</a></li>
                        <li class="l-s-none mt-3"><a href="" class="atag c-white fs-3">your taka</a></li>
                        <li class="l-s-none mt-3"><a href="" class="atag c-white fs-3">send taka</a></li>
                        <li class="l-s-none mt-3"><a href="" class="atag c-white fs-3" >add taka</a></li>
                    </ul>
                    <div class="h-50"></div>
                    <h1 class="c-black  bg-green-700">৳ 100.0</h1>
                </div>


                <!-- home page start -->
                <div id="Home" class="h-1-1 w-1-1 pd-10">

                    <div class="taka-pan bg-black-700 h-10 w-1-1 b-md s-w-10 c-white pt-2 pl-2 pr-2 mt-3 d-flex gap-10 j-s-between">
                        <div class="d-flex gap-10">
                            <h1>taka: 100.0</h1>
                            <h1>add taka: 100.0</h1>
                        </div>
                        <h1 class="c-green-700">pending</h1>
                    </div>
                </div>

                <!-- home page end -->



                <!-- add taka page start -->
                <div class="h-1-1 w-1-1 pd-10 c-black d-none" id="add-taka">
                    <h1 class="fs-5">ADD taka to your account</h1>
                    <h1 class="c-black-500">01757164141</h1>
                    <form action="/">
                        <div>
                            <input type="text" name="name" placeholder="input your name..." class="h-5 w-1-2 s-w-10 pl-2 b-md i-p-fs-3 add-input fs-2 ">
                        </div>
                        <div>
                            <input type="number" name="" placeholder="input your number..." class="h-5 w-1-2 s-w-10 pl-2 b-md i-p-fs-3 add-input fs-2 mt-2">
                        </div>
                        <div>
                            <input type="number" name="" placeholder="input your amount..." class="h-5 w-1-2 s-w-10 pl-2 b-md i-p-fs-3 add-input fs-2 mt-2">
                        </div>
                        <div>
                            <input type="text" name="name" placeholder="input your Transaction ID..." class="h-5 w-1-2 s-w-10 pl-2 b-md i-p-fs-3 add-input fs-2 mt-2">
                        </div>
                        <button class="h-5 w-1-2 mt-2 b-md b-none bg-red-700 fs-3 bold-2-f">ADD TAKA</button>
                    </form>
                </div>
        </div>
    </main>

    <script src="./javascript/index.js"></script>
</body>
</html>